seed: 3
log_dir: 'logs'
model_name: 'refine-sr'
data_filepath: '/data/physics_prediction_v2/data'
dataset: 'single_pendulum'
intrinsic_dimension: 2
niterations: 400
batch_size: 500
num_frames: 60
maxsize: 30
complexity_of_constants: 1.0
weight_add_node: 2.0
weight_insert_node: 2.0
weight_delete_node: 1.0
weight_do_nothing: 0.2
weight_mutate_constant: 0.5
weight_mutate_operator: 0.5
weight_simplify: 1.0
weight_randomize: 0.1
binary_operators: ['+', '*', '-', '/']
unary_operators: ['sin', 'square']
constraints: {
  'sin': 10,
  'square': 10,
  '*': [10, 10],
  '/': [10, 10],
}
nested_constraints: {
  'sin': {
    'sin': 1,
    'square': 1,
  },
  'square': {
    'sin': 0,
    'square': 0,
  },
}
